<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.trasen.mcpc.transform.dao.TmpFactoryMapper">
    <!-- BaseResultMap和表字段一致，不允许改动 -->
    <resultMap id="BaseResultMap" type="cn.trasen.mcpc.transform.model.TmpFactory">
        <result column="ID" jdbcType="DECIMAL" property="id" />
        <result column="FACT_NAME" jdbcType="VARCHAR" property="factName" />
        <result column="WB_CODE" jdbcType="VARCHAR" property="wbCode" />
        <result column="PY_CODE" jdbcType="VARCHAR" property="pyCode" />
        <result column="REL_TEL" jdbcType="VARCHAR" property="relTel" />
        <result column="REL_MAN" jdbcType="VARCHAR" property="relMan" />
        <result column="REL_ADDR" jdbcType="VARCHAR" property="relAddr" />
        <result column="ISGMP" jdbcType="VARCHAR" property="isgmp" />
        <result column="PUBLISH" jdbcType="CHAR" property="publish" />
        <result column="STATUS" jdbcType="CHAR" property="status" />
        <result column="DELETE_FLAG" jdbcType="CHAR" property="deleteFlag" />
        <result column="CREATE_BY" jdbcType="DECIMAL" property="createBy" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UPDATE_BY" jdbcType="DECIMAL" property="updateBy" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <!-- BaseResultMap和表字段一致，不允许改动 -->
    <sql id="base_column">
        ${alias}ID,
        ${alias}FACT_NAME,
        ${alias}WB_CODE,
        ${alias}PY_CODE,
        ${alias}REL_TEL,
        ${alias}REL_MAN,
        ${alias}REL_ADDR,
        ${alias}ISGMP,
        ${alias}PUBLISH,
        ${alias}STATUS,
        ${alias}DELETE_FLAG,
        ${alias}CREATE_BY,
        ${alias}CREATE_TIME,
        ${alias}UPDATE_BY,
        ${alias}UPDATE_TIME
    </sql>

    <select id="all" resultMap="BaseResultMap">
        select
        <include refid="base_column">
            <property name="alias" value="a." />
        </include>
        from tmp_factory a
    </select>
</mapper>